<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to provide personalized content and improve your experience.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.412472989002-bkbljatlsiteu8jtbt66jf8e0m8o20si</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>412472989002-bkbljatlsiteu8jtbt66jf8e0m8o20si.apps.googleusercontent.com</string>
</dict>
</plist>
